:root {
  --light: #e7e7e7;
  --white:#fff;
  --black: #2c2b3c;
  --gray:#3b3a51;

  --transparent: #13131359;
  --green: #46a800;
  --blue:#3f51b5;
  --rose:#a80038;
  --red:#bd0d00;
  --coffee:#795548;
  --persian_green:#009688;
  --metal:#607d8b;
  --yellow:#8f8c00;
  --viola:#4a3968;

  font-size: .9rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #16151e;
  color: var(--white);
  margin: 0;
  font-family: Inter,sans-serif;
  font-size: .9rem;
  letter-spacing: 0.6px;
  padding: 7px;
}

#root {
  width: 100%;
  height: calc(100vh - 14px);
  background-color: var(--black);
  display: flex;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid var(--gray);
}

aside {overflow: auto; padding: 10px;border-left: 1px solid var(--gray);}
main {overflow: auto; border-right: 1px solid var(--gray);}

#list-webResponse {
  height: calc(100% - 50px);
  overflow: auto;
}

header {
  height: 50px;
  position: relative;
  position: sticky;
  top: 0;
  padding: 10px 15px;
  border-bottom: 1px solid var(--gray);
  backdrop-filter: blur(3px);
  z-index: 99;
}

h2 {font-size: 1.2rem;    white-space: pre;}
h3 {font-size: 1rem;    white-space: pre;}

input,button,select,textarea {padding: 12px 15px; outline: none; border: none;}

.btn,button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;  
  transition: opacity .25s;
}

svg {fill: currentColor;}

.btn:hover ,button:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

li {
  width: 100%;
  padding: 10px 15px;
  word-break: break-all;
}

small {color: var(--gray);}

hr {
  width: 100%;
  border-color: var(--gray);
  margin: 15px 0;
}

pre {
  max-height: 300px;
  overflow: auto;
}

.tag {
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 5px 10px;
  margin-left: 0;
  margin-bottom: 0;
  word-break: keep-all;
}

#snackbar {
  position: fixed;
  bottom: 10px;
  left: 50%;
}

#snackbar code {
  padding: 10px;
  background-color: var(--red);
  overflow: auto;
}

select,option,input,textarea,.btn,button {background-color: var(--gray); color: #fff; max-width: 100%;}
.gutter {background-color: var(--transparent); cursor: col-resize; }
.gutter:hover {background-color: var(--gray);  }

#list-webResponse {display: flex;flex-direction: column-reverse;}

.small,.tag,small {font-size:  0.8rem; color: var(--metal);}

.rounded {border-radius: 50%;}

.green{color: var(--green);}
.red{color: var(--red);}
.rose{color: var(--rose);}
.gray {color: var(--gray);}

.bg-dark {background-color: var(--dark);}
.bg-transparent, .image,.media, .stylesheet,.font {background-color: var(--transparent);}
.bg-green, .image,.media {background-color: var(--green); color: var(--white);}
.bg-persian_green,.font {background-color: var(--persian_green); color: var(--white);}
.bg-viola, .stylesheet {background-color: var(--viola); color: var(--white);}
.bg-coffee, .websocket,.webtransport {background-color: var(--coffee); color: var(--white);}
.bg-blue, .csp_report {background-color: var(--blue); color: var(--white);}
.bg-rose, .script {background-color: var(--rose); color: var(--white);}
.bg-red, .xmlhttprequest {background-color: var(--red); color: var(--white);}
.bg-metal, .ping,.other {background-color: var(--metal); color: var(--white);}
.bg-yellow, .sub_frame,.main_frame {background-color: var(--yellow); color: var(--white);}
.bg-linear {background: var(--linear);}

.align-center{align-items: center;}
.justify-between {justify-content: space-between;}
.d-block {display: block;}
.d-flex {display: flex;}
.d-none {display: none;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.space-pre {    white-space: pre;}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-0 {margin: 0;}
.mb-0 {margin-bottom: 0;}
.mt-0 {margin-top: 0;}
.mr-0 {margin-right: 0;}
.ml-0 {margin-left: 0;}
.mt-1 {margin-top: 10px;}
.mr-1 {margin-right: 10px;}
.ml-1 {margin-left: 10px;}
.mb-1 {margin-bottom: 10px;}

.mr-3 {margin-right: 30px;}
.ml-3 {margin-left: 30px;}

.w-100 {width: 100%;}
.h-100 {height: 100%;}

.fadein {
  animation: fadeIn 0.25s 1;
  animation-fill-mode: forwards;
}

.border-0 {border: 0;}
.bordered {border: 1px solid var(--gray);}
.border-bottom {border-bottom: 1px solid var(--gray);}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
