.snackbar {
  max-height: 50px;
  display: none;  
  background-color: transparent;
  position: fixed;
  left: 0;
  bottom: 15px;
  z-index: 99;
}

.show {  
  display: flex;
  animation: fadein 0.25s;
}

@keyframes fadein {
  from {top: 30px; opacity: 0;}
  to {top: 15px; opacity: 1;}
}